<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.OrderDetailMapper">
    <insert id="insert">
        insert into order_detail <set>
        <if test="number != null">number = #{number},</if>
        <if test="name != null">name = #{name},</if>
        <if test="image != null">image = #{image},</if>
        <if test="amount != null">amount = #{amount},</if>
        <if test="orderId != null">order_id = #{orderId},</if>
        <if test="setmealId != null">setmeal_id = #{setmealId},</if>
        <if test="dishId != null">dish_id = #{dishId},</if>
        <if test="dishFlavor != null">dish_flavor = #{dishFlavor},</if>
    </set>
    </insert>
</mapper>
